body {
  background-color: #294e79;
  background-image: linear-gradient(#4b627ce5, #294e79);
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  text-shadow: 1px 2px 3px rgba(121, 121, 129, 0.9);
  height: 100vh;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.container {
  max-width: 600px;
  margin: 1%;
  padding: 5px;
}

.title {
  text-align: center;
  font-weight: bold;
  color: #e0e0e0;
}

.calculator {
  background-color: #3B4856;  
  padding: 25px 45px;
  margin-top: 20px;
  color: #e0e0e0;
  border-radius: 35px;
  background: #3B4856;
  box-shadow: inset 5px 5px 17px #181d22,
            inset -5px -5px 17px #5e738a;
}

.input-group {
  margin-bottom: 10px;
  text-align: center
}

.input-group label {
  display: block;
  font-weight: bold;
}

.input-group input {
  width: 95%;
  padding: 6px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  background: none;
  color: #e0e0e0;
  border-radius: 35px;
  background: #3B4856;
  transition: 0.4s;
  box-shadow: inset 5px 5px 17px #181d22,
            inset -5px -5px 17px #5e738a;
}

.input-group input:focus {
  width: 95%;
  padding: 6px;  
  border-radius: 10px;
  font-weight: bold;
  background: #e0e0e0;
  background-image: linear-gradient(#e0e0e0, #294e797e);
  color: black;
  text-shadow: 1px 2px 3px rgba(121, 121, 129, 0.9);
  border-radius: 35px;  
  box-shadow: inset 5px 5px 17px #181d22,
            inset -5px -5px 17px #5e738a;
  transition: 0.4s;
}

.input-group input:hover {
  width: 95%;
  padding: 6px;
  border-radius: 10px;
  font-weight: bold;
  background: #e0e0e0;
  color: black;
  text-shadow: 1px 2px 3px rgba(121, 121, 129, 0.9);
  border-radius: 35px;  
  box-shadow: inset 5px 5px 17px #181d22,
            inset -5px -5px 17px #5e738a;
  transition: 0.4s;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

#calcular-button {
  background-color: #e0e0e0;
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  width: 120px;
  transition: 0.4s;
}

#calcular-button:hover {
  background-color: #030303;
  color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  width: 140px;
  transition: 0.4s;
}

.result {
  margin-top: 20px;
}

.result label {
  font-weight: bold;
}

.result span {
  font-weight: bold;
  color: #e0e0e0;
  margin-left: 10px;
}
